<html>
    <head>
        <title>Kurtknopfler's blog</title>
    </head>
    <body>
        <div>
        <h1><a href="">Kurtknopfler's Blog</a></h1>
        </div>

        <div>
            <p>published: 14.11.2021, 15:39</p>
            <h2><a href="">The first blog</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>

        <div>
            <p>published: 14.11.2021, 15:41</p>
            <h2><a href="">The second post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>
    </body>
</html>